<a class="btn-floating tooltipped" 
   href="@Url.Action(ViewData["accion"].ToString(),new { id = ViewData["id"]})" 
   data-position="bottom" 
   data-tooltip="@ViewData["tooltip"]">
    <i class='material-icons'>
    @ViewData["icon"]
    </i>
</a> 