<div class="row">
    <div class="col s12">
        <a class="waves-effect waves-teal" href="@Url.Action(ViewData["accion"].ToString())">
            Volver @ViewData["string"] <i class='material-icons left'>arrow_back</i>
        </a>
    </div>
</div>